.Design {
    position: relative;
    left: 750px;
    top: 150px;
    height: 600px;
    width: 450px;
    border: .5px solid rgb(224, 215, 215);
    border-radius: 2px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
}